.container {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	padding-top: 100px;
}

h1 {
	font-size: 48px;
	margin-bottom: 50px;
}

#counter {
	font-size: 120px;
	margin-bottom: 50px;
}

.buttons {
	display: flex;
	justify-content: center;
}

button {
	background-color: #3498db;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 24px;
	cursor: pointer;
	margin-right: 20px;
}

#increase {
	background-color: #27ae60;
}

#decrease {
	background-color: #c0392b;
}
